.body {
    background-color: rgb(226, 226, 226);
    margin: auto;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: rgb(46, 120, 204);
}

.bg-purple {
    background-color: purple;
}

.bg-aqua {
    background-color: aqua;
}
.bg-orange {
    background-color: orange;
}

.font-style-small {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 1px;
}

.container-small {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 2px;
}
.container-big {
    width: 70%;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

.add-task-section {
    font-size: 12px;
    display: inline-block;
    text-align: center;

}

.add-task {;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

.add-section {
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 5px;
}
.bold-text {
    font-weight: 700;
}

.check {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: green;
    text-align: center;
}
.check-text {
    font-size: 8px;
    color: green;
}

.contenitors {
    width: 60px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 10px;
}

.cross {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: red;
    text-align: center;
}

.cross-text {
    font-size: 8px;
    color: red;
    text-align: center;
}